includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - admin/classes/
        - admin/templates/
    bootstrapFiles:
        - wpss-ultimate-user-management.php
        - autoload.php
    excludePaths:
        analyseAndScan:
            - vendor (?)
            - tests (?)
            - node_modules (?)
    ignoreErrors:
        # Sample: Ignore warnings if necessary
        # - '#Unreachable statement - code above always terminates.#'
        - '#Action callback returns .* but should not return anything\.#'